---
import { getCollection } from "astro:content";

const posts = await getCollection("blog");

console.log(posts);
---



<html lang="zh">
<body style="background:#0b0b0f;color:white;padding:40px;">

<h1>Posts</h1>

{
posts.map((post)=>(
<article style="margin-bottom:20px;">
<a
href={`/blog/${post.slug}`}
style="color:white;text-decoration:none;"
>
{post.data.title}
</a>

<p style="opacity:.6">
{post.data.description}
</p>

</article>
))
}

</body>
</html>